*{
  margin: 0;
  padding: 0;
}


/* Navigation  */
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img{
  height: 70px;
  padding-left: 30px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover{
  color: #007bff!important;
}
.navbar{
  background: #fff;
}
.navbar-toggler{
  border: none!important
}
.nav-link{
  color: #555!important
  font-weight: 600;
  font-weight: 600;
  font-size: 16px;
}
/* information */
#about{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
  /* text-align: center; */
  margin-left: 400px;
  font-size: 20px;
}
#about h2{
  font-size: 50px;
}
#about .btn{
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-content{
  padding-top: 20px;
  text-align: left;
  margin-left: 15px;
}
#about img{
  height: 350px;
  width: 350px;
  border: 2px solid black;
  right: 960px;
  bottom: 130px;
  position: absolute;
}
#boldletter b{
  text-align: center;
  font-family: times;
  font-size: 37px;
}
.art td{
  height: 560px;
  width: 320px;
  border: 2px solid black;
  right: 976px;
  top: 640px;
  position: absolute;
  font-size: 24px;
  background-color: #fad673;
  padding-top: 47px;
  text-align: center;
}
.art1 td{
  height: 760px;
  width: 320px;
  border: 2px solid black;
  right: 976px;
  top: 1386px;
  position: absolute;
  font-size: 24px;
  background-color: #fad673;
  padding-top: 47px;
  text-align: center;
}
/* FACTS */
#interactive{
  background-image: linear-gradient(rgba(255, 0, 0, 0.8),rgba(255, 0, 0, 0.8)),url(images/Picture3.png);
  background-size: cover;
  background-position: center;
  color: #efefef!important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
#interactive h1{
  text-align: center;
  color: #efefef!important;
  padding-bottom: : 10px;
}
#interactive h1::after{
  content: '';
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.interactive{
  margin-top: 40px;
}
.icon{
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 90px;
  width: 90px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#interactive p{
  font-size: 16px;
  margin-top: 20px;
  color: #faf1d9;
}
#interactive b{
  font-size: 20px;
}
.interactive .col-md-4:hover{
  background: #fa8f87;
  cursor: pointer;
  transition: 0.7s;
  transform: scale(1.2);
}
.interactive table{
  color: white;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.interactive th,td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
#calcimage{
  width: 230px;
  border: 2px solid black;
}
